In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
df=pd.read_csv("Student_Marks.csv")
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [7]:
df.columns=["sinif","saat","puan"] #sütün isimlerini değiştiriyoeuz

In [9]:
df.head(3)

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811

In [13]:
y=df["puan"]
x=df[["sinif","saat"]]

In [17]:
lm=LinearRegression()
model=lm.fit(x,y)

In [19]:
model.coef_ # her sabitin katsayısı

array([1.86405074, 5.39917879])

In [21]:
model.intercept_ #sabit sayı

-7.4563462311783475

In [27]:
model.score(x,y)

0.9403656320238896

In [29]:
model.predict([[4,5]])

C:\Users\omer_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([26.99575068])

In [31]:
4*1.86405074+5*5.39917879-7.4563462311783475

26.995750678821654