In [9]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,cross_val_score

In [4]:
df=pd.read_csv("customer_booking.csv",encoding="latin-1")
df.head(3)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0

In [5]:
df=pd.get_dummies(df,columns=["sales_channel","trip_type","flight_day","route","booking_origin"],drop_first=True)

In [6]:
df.head(3)

,num_passengers,purchase_lead,length_of_stay,flight_hour,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,sales_channel_Mobile,...,booking_origin_Timor-Leste,booking_origin_Tonga,booking_origin_Tunisia,booking_origin_Turkey,booking_origin_Ukraine,booking_origin_United Arab Emirates,booking_origin_United Kingdom,booking_origin_United States,booking_origin_Vanuatu,booking_origin_Vietnam
0,2,262,19,7,1,0,0,5.52,0,False,...,False,False,False,False,False,False,False,False,False,False
1,1,112,20,3,0,0,0,5.52,0,False,...,False,False,False,False,False,False,False,False,False,False
2,2,243,22,17,1,1,0,5.52,0,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
y=df["wants_extra_baggage"]
x=df.drop(["wants_extra_baggage"],axis=1)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,train_size=0.85)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Columns: 919 entries, num_passengers to booking_origin_Vietnam
dtypes: bool(910), float64(1), int64(8)
memory usage: 46.8 MB

In [15]:
rf=RandomForestClassifier()
model=rf.fit(x_train,y_train)

In [16]:
model.score(x_test,y_test)

0.7298666666666667

In [17]:
crossval=cross_val_score(model,x,y,cv=4)
#cv=4 diyince veriyi 4 e böler her böldüğünü tek tek test eder ve ona göre bir ortalama skor verir

In [22]:
crossval.mean()

0.4966