In [1]:
# MSE RMSE MAE MAPE

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error

In [3]:
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df=pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True).astype(int)
df.head()

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27,0,16884,0,1,0,0,1
1,18,33,1,1725,1,0,0,1,0
2,28,33,3,4449,1,0,0,1,0
3,33,22,0,21984,1,0,1,0,0
4,32,28,0,3866,1,0,1,0,0

In [6]:
y=df["charges"]
x=df.drop("charges",axis=1)

In [7]:
lm=LinearRegression()
model=lm.fit(x,y)

In [8]:
model.score(x,y)

0.7508828216439194

In [9]:
model.predict([[19,26,0,1,1,0,0,1]])

C:\Users\omer_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24686.11226985])

In [10]:
df_hata=pd.DataFrame()

In [11]:
df_hata["y"]=y

In [12]:
y_tahmin=model.predict(x)

In [13]:
df_hata["tahmin"]=y_tahmin

In [14]:
df_hata

          y        tahmin
0     16884  25156.523661
1      1725   3340.655590
2      4449   6866.897754
3     21984   3695.166565
4      3866   5466.132057
...     ...           ...
1333  10600  12202.408092
1334   2205   3361.307679
1335   1629   4008.813262
1336   2007   1134.725931
1337  29141  37248.656157

[1338 rows x 2 columns]

In [15]:
df_hata["error"]=y-y_tahmin

In [16]:
df_hata

          y        tahmin         error
0     16884  25156.523661  -8272.523661
1      1725   3340.655590  -1615.655590
2      4449   6866.897754  -2417.897754
3     21984   3695.166565  18288.833435
4      3866   5466.132057  -1600.132057
...     ...           ...           ...
1333  10600  12202.408092  -1602.408092
1334   2205   3361.307679  -1156.307679
1335   1629   4008.813262  -2379.813262
1336   2007   1134.725931    872.274069
1337  29141  37248.656157  -8107.656157

[1338 rows x 3 columns]

In [17]:
#mse hata kareler ortalaması
df_hata["squared_error"]=df_hata["error"]**2

In [18]:
#mae mutlak değer hata
df_hata["abs_error"]=np.abs(df_hata["error"])

In [19]:
df_hata

          y        tahmin         error  squared_error     abs_error
0     16884  25156.523661  -8272.523661   6.843465e+07   8272.523661
1      1725   3340.655590  -1615.655590   2.610343e+06   1615.655590
2      4449   6866.897754  -2417.897754   5.846230e+06   2417.897754
3     21984   3695.166565  18288.833435   3.344814e+08  18288.833435
4      3866   5466.132057  -1600.132057   2.560423e+06   1600.132057
...     ...           ...           ...            ...           ...
1333  10600  12202.408092  -1602.408092   2.567712e+06   1602.408092
1334   2205   3361.307679  -1156.307679   1.337047e+06   1156.307679
1335   1629   4008.813262  -2379.813262   5.663511e+06   2379.813262
1336   2007   1134.725931    872.274069   7.608621e+05    872.274069
1337  29141  37248.656157  -8107.656157   6.573409e+07   8107.656157

[1338 rows x 5 columns]

In [20]:
#mape hata oranlarının
df_hata["percent_error"]=np.abs((y-y_tahmin)/y)

In [21]:
df_hata

,y,tahmin,error,squared_error,abs_error,percent_error
0,16884,25156.523661,-8272.523661,6.843465e+07,8272.523661,0.489962
1,1725,3340.655590,-1615.655590,2.610343e+06,1615.655590,0.936612
2,4449,6866.897754,-2417.897754,5.846230e+06,2417.897754,0.543470
3,21984,3695.166565,18288.833435,3.344814e+08,18288.833435,0.831916
4,3866,5466.132057,-1600.132057,2.560423e+06,1600.132057,0.413899
...,...,...,...,...,...,...
1333,10600,12202.408092,-1602.408092,2.567712e+06,1602.408092,0.151171
1334,2205,3361.307679,-1156.307679,1.337047e+06,1156.307679,0.524403
1335,1629,4008.813262,-2379.813262,5.663511e+06,2379.813262,1.460904
1336,2007,1134.725931,872.274069,7.608621e+05,872.274069,0.434616
1337,29141,37248.656157,-8107.656157,6.573409e+07,8107.656157,0.278222

In [22]:
df_hata.mean()

y                1.326993e+04
tahmin           1.326993e+04
error            2.414443e-12
squared_error    3.650633e+07
abs_error        4.170360e+03
percent_error    4.206582e-01
dtype: float64

In [23]:
#yukardaki işlemlerin kısa yolu

In [24]:
mean_squared_error(y,y_tahmin)

36506329.651005656

In [50]:
mean_absolute_error(y,y_tahmin)

4170.359803898069

In [52]:
mean_absolute_percentage_error(y,y_tahmin)

0.42065817129070704