In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
df=pd.read_csv("Audi_A1_listings.csv")
df.head()

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642
3,11,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,https://www.autotrader.co.uk/car-details/20221...,3745.000000,41,449,83,573
4,12,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,https://www.autotrader.co.uk/car-details/20220...,3700.000000,12,452,85,549

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             471 non-null    int64
 1   Year              471 non-null    float64
 2   Type              471 non-null    object
 3   Mileage(miles)    471 non-null    float64
 4   Engine            471 non-null    object
 5   PS                471 non-null    float64
 6   Transmission      471 non-null    object
 7   Fuel              471 non-null    object
 8   Number_of_Owners  471 non-null    int64
 9   Price(£)          471 non-null    float64
 10  href              471 non-null    object
 11  PPY               471 non-null    float64
 12  MileageRank       471 non-null    int64
 13  PriceRank         471 non-null    int64
 14  PPYRank           471 non-null    int64
 15  Score             471 non-null    int64
dtypes: float64(5), int64(6), object(5)
memory usage: 59.0+ KB

In [4]:
df=df.drop(columns=["index","href","MileageRank","PriceRank","PPYRank","Score"],axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              471 non-null    float64
 1   Type              471 non-null    object
 2   Mileage(miles)    471 non-null    float64
 3   Engine            471 non-null    object
 4   PS                471 non-null    float64
 5   Transmission      471 non-null    object
 6   Fuel              471 non-null    object
 7   Number_of_Owners  471 non-null    int64
 8   Price(£)          471 non-null    float64
 9   PPY               471 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 36.9+ KB

In [6]:
df.columns=["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat","ppy"]
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [7]:
df["motor"]=df["motor"].str.replace("L","")

In [8]:
df["motor"]=pd.to_numeric(df["motor"]) #sayıya çevirme

In [9]:
df.head(2)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,ppy
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0,2688.750000

In [10]:
df=pd.get_dummies(df,columns=["kasa","vites","yakit"],drop_first=True).astype(int) #df içindeki verilen sütünları sayıya çevir
#boolen değeri hepsi ynı olan değerleri kaldırır

In [11]:
df.head(2)

    yil    mil  motor   ps  sahip  fiyat   ppy  vites_Manual  yakit_Petrol
0  2018  44000      1  114      1  14995  2499             1             0
1  2016  42596      1   93      3  10755  2688             1             1

In [12]:
x=df.drop(["fiyat"],axis=1)
y=df["fiyat"]

In [13]:
lm=LinearRegression()
model=lm.fit(x,y)

In [14]:
model.predict([[2017,3000,1.6,110,1,2600,0,1]])

C:\Users\omer_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([14062.62198885])

In [15]:
model.score(x,y)

0.9584400192371412