In [51]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv("Audi_A1_listings.csv")
df.head(2)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828

In [7]:
df=df[["Year","Type","Mileage(miles)","Engine","PS","Transmission","Fuel","Number_of_Owners","Price(£)"]]

In [9]:
df.head(2)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0

In [13]:
df.columns=["yil","tip","mil","motor","ps","vites","yakit","sahip","fiyat"]

In [23]:
df["motor"]=df["motor"].str.replace("L","")
df["motor"]=pd.to_numeric(df["motor"])

C:\Users\omer_\AppData\Local\Temp\ipykernel_16332\2377611242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["motor"]=df["motor"].str.replace("L","")
C:\Users\omer_\AppData\Local\Temp\ipykernel_16332\2377611242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["motor"]=pd.to_numeric(df["motor"])

In [39]:
df=pd.get_dummies(df,columns=["tip","vites","yakit"],drop_first=True).astype(int)

In [41]:
y=df["fiyat"]
x=df.drop(["fiyat"],axis=1)

In [43]:
df.head()

    yil     mil  motor   ps  sahip  fiyat  vites_Manual  yakit_Petrol
0  2018   44000      1  114      1  14995             1             0
1  2016   42596      1   93      3  10755             1             1
2  2015   42700      1  123      2  10799             1             1
3  2014   86000      1  103      3   7490             1             0
4  2014  104310      1  103      3   7400             1             0

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=21)
#train_size=yüzde kaçı verilecek öğrenmeye
#random_state=bir sabit veriyoruz ve bu sabit her zaman aynı değeri veriyor

In [59]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test)

0.8947902193322722

In [61]:
model.predict([[2016,3500,1,110,1,1,0]])

C:\Users\omer_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([14248.1101435])