In [7]:
#UnderFiting-az öğrenme
#OverFiting-aşrı öğrenme
#BalancedFiting-dengeli öğrenme

In [17]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [13]:
df=sns.load_dataset("diamonds")
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [14]:
df=pd.get_dummies(df,columns=["cut","color","clarity"],drop_first=True)

In [15]:
df.head(2)

,carat,depth,table,price,x,y,z,cut_Premium,cut_Very Good,cut_Good,...,color_H,color_I,color_J,clarity_VVS1,clarity_VVS2,clarity_VS1,clarity_VS2,clarity_SI1,clarity_SI2,clarity_I1
0,0.23,61.5,55.0,326,3.95,3.98,2.43,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,0.21,59.8,61.0,326,3.89,3.84,2.31,True,False,False,...,False,False,False,False,False,False,False,True,False,False

In [16]:
y=df["price"]
x=df.drop(["price"],axis=1)

In [21]:
x_traim,x_test,y_train,y_test=train_test_split(x,y,test_size=0.70,random_state=19)

In [22]:
lm=LinearRegression()
model=lm.fit(x_traim,y_train)

In [23]:
model.score(x_test,y_test)

0.9202442905202134

In [24]:
model.score(x_traim,y_train)
#öğrenem ile test verileri arasındaki score sonucu ne kadar azsa o kadar iyidir

0.9181454358874358

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   depth          53940 non-null  float64
 2   table          53940 non-null  float64
 3   price          53940 non-null  int64
 4   x              53940 non-null  float64
 5   y              53940 non-null  float64
 6   z              53940 non-null  float64
 7   cut_Premium    53940 non-null  bool
 8   cut_Very Good  53940 non-null  bool
 9   cut_Good       53940 non-null  bool
 10  cut_Fair       53940 non-null  bool
 11  color_E        53940 non-null  bool
 12  color_F        53940 non-null  bool
 13  color_G        53940 non-null  bool
 14  color_H        53940 non-null  bool
 15  color_I        53940 non-null  bool
 16  color_J        53940 non-null  bool
 17  clarity_VVS1   53940 non-null  bool
 18  clarity_VVS2   53940 non-null  bool
 19  clarity_VS1    53940 non-null  bool
 20  clarity_VS2    53940 non-null  bool
 21  clarity_SI1    53940 non-null  bool
 22  clarity_SI2    53940 non-null  bool
 23  clarity_I1     53940 non-null  bool
dtypes: bool(17), float64(6), int64(1)
memory usage: 3.8 MB