In [ ]:
from prophet import Prophet

In [3]:
import yfinance as yf

In [14]:
df=yf.download("BTC-USD","2015-01-01","2024-04-26") #BİTCOİN FİYATLARI GÜNÜMÜZE KADAR
df.head(2)

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Date,,,,,,
2015-01-01,314.248993,314.248993,320.434998,314.002991,320.434998,8036550
2015-01-02,315.032013,315.032013,315.838989,313.565002,314.079010,7860650

In [7]:
df=df["Close"]

In [9]:
df=df.reset_index()

In [10]:
df.head(3)

Ticker       Date     BTC-USD
0      2015-01-01  314.248993
1      2015-01-02  315.032013
2      2015-01-03  281.082001

In [11]:
df.columns=["ds","y"]

In [12]:
df.head(3)

          ds           y
0 2015-01-01  314.248993
1 2015-01-02  315.032013
2 2015-01-03  281.082001