In [11]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
df=pd.get_dummies(df,columns=["sex","smoker","region"])

In [5]:
df.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,True,False,False,True,False,False,False,True
1,18,33.770,1,1725.55230,False,True,True,False,False,False,True,False
2,28,33.000,3,4449.46200,False,True,True,False,False,False,True,False
3,33,22.705,0,21984.47061,False,True,True,False,False,True,False,False
4,32,28.880,0,3866.85520,False,True,True,False,False,True,False,False

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_female        1338 non-null   bool
 5   sex_male          1338 non-null   bool
 6   smoker_no         1338 non-null   bool
 7   smoker_yes        1338 non-null   bool
 8   region_northeast  1338 non-null   bool
 9   region_northwest  1338 non-null   bool
 10  region_southeast  1338 non-null   bool
 11  region_southwest  1338 non-null   bool
dtypes: bool(8), float64(2), int64(2)
memory usage: 52.4 KB

In [7]:
y=df["charges"]
x=df.drop(["charges"],axis=1)

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=22)

In [9]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test)

0.7398405242767803

In [12]:
rf=RandomForestRegressor(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8300526003564346

In [16]:
insan=df.sample().drop(["charges"],axis=1)

In [18]:
model.predict(insan)

array([7505.26114595])