In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [2]:
df=pd.read_csv("Plane Price.csv")
df.head(2)
df=df.dropna()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421 entries, 0 to 516
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model Name               421 non-null    object
 1   Engine Type              421 non-null    object
 2   HP or lbs thr ea engine  421 non-null    object
 3   Max speed Knots          421 non-null    object
 4   Rcmnd cruise Knots       421 non-null    float64
 5   Stall Knots dirty        421 non-null    float64
 6   Fuel gal/lbs             421 non-null    int64
 7   All eng rate of climb    421 non-null    object
 8   Eng out rate of climb    421 non-null    float64
 9   Takeoff over 50ft        421 non-null    float64
 10  Landing over 50ft        421 non-null    object
 11  Empty weight lbs         421 non-null    object
 12  Length ft/in             421 non-null    object
 13  Wing span ft/in          421 non-null    object
 14  Range N.M.               421 non-null    object
 15  Price                    421 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 55.9+ KB

In [4]:
df=df[["Rcmnd cruise Knots","Stall Knots dirty","Fuel gal/lbs","Eng out rate of climb","Price"]]

In [5]:
df.head(3)

,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,Eng out rate of climb,Price
0,91.0,46.0,36,900.0,1300000.0
1,83.0,44.0,15,720.0,1230000.0
2,78.0,37.0,19,475.0,1600000.0

In [6]:
y=df["Price"]
x=df.drop(["Price"],axis=1)
# y için normalizasyon yapılmaz
#outlier etkisini azltır (aykırı değerleri düzeltir) 
#model performansı artat

In [12]:
ss=StandardScaler() #standart sapmayı 1 haline getiren bir model
x2=ss.fit_transform(x)
x2=pd.DataFrame(x2)
x2.head(3)

          0         1         2         3
0 -1.045548 -0.910775 -0.280355 -1.015012
1 -1.126372 -1.035116 -0.285673 -1.184347
2 -1.176886 -1.470309 -0.284660 -1.414831

In [13]:
x2[0].std()

1.0011897684160351

In [15]:
x2[0].mean()

1.181424976323207e-16

In [16]:
mm=MinMaxScaler() # modeli sıfır ile bir arasına getirtiyor
x3=mm.fit_transform(x)

In [17]:
x3=pd.DataFrame(x3)
x3.head(2)

          0         1         2         3
0  0.051724  0.215909  0.000746  0.074541
1  0.032020  0.193182  0.000034  0.044254

In [19]:
x3[0].max()

1.0

In [20]:
x3[1].min()

0.0

In [21]:
mm2=MinMaxScaler(feature_range=(0,10)) #feature_range değerleri hangi aralıkğa getirmemizi belirliyoruz
x4=mm2.fit_transform(x)

In [24]:
x4=pd.DataFrame(x4)
x4.head(2)

          0         1         2         3
0  0.517241  2.159091  0.007461  0.745415
1  0.320197  1.931818  0.000339  0.442537

In [25]:
x4.min()

0    0.0
1    0.0
2    0.0
3    0.0
dtype: float64

In [26]:
x4.max()

0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64